[submodule "config/vim"]
	path = config/vim
	url = https://github.com/kdankov/vim.git
[submodule "bin"]
	path = bin
	url = https://github.com/kdankov/bash-scripts
[submodule "config/zsh"]
	path = config/zsh
	url = git@github.com:kdankov/prezto.git
